
body {
    background-color: #f0f8ff;  
    font-family: Verdana, sans-serif;
    margin: 20px;
    padding: 10px;
}


.heading {
    text-align: center;
    color: darkblue;
    font-size: 40px;
    margin-bottom: 20px;
}


.content {
    text-align: left;
    margin-left: 40px;
}


h2, h4 {
    color: skyblue;
}


h1:hover, h2:hover, h4:hover {
    color: navy;
    background-color: rgb(224, 250, 255);
}


a {
    color: darkgreen;
    text-decoration: none;
}
a:hover {
    color: blue;
    text-decoration: underline;
}


.picture {
    border: 5px solid #444;
    border-radius: 10px;
    margin-top: 10px;
    float:left;
}

.overflow-box {
    border: 2px solid #999;
    padding: 10px;
    width: 60%;
    height: 120px;
    overflow-y:scroll;
    background-color: #ffffff;
    box-shadow: 2px 2px 8px gray;
    margin-top: 10px;
}
table {
  width: 80%;
  margin: 20px auto;
  border-collapse: collapse;
  
}

th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

th {
  background-color: lightblue;
}

tr:nth-child(even) {
  background-color: #f2f2f2; 
}

tr:hover {
  background-color: #d1ecf1; 
}



footer {
    margin-top: 20px;
    padding: 10px;
    background-color: navy;
    color: white;
    text-align: center;
}
footer a {
    color: white;
    background-color: navy;
    padding: 5px;
}
footer a:hover {
    background-color: yellow;
    color: black;
}
.navbar {
    position: sticky;
    top: 0;
    background-color: navy;
    padding: 10px 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.navbar li {
    display: inline-block;
    margin: 0 15px;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    padding: 8px 15px;
    border-radius: 10px;
    transition: background-color 0.3s, color 0.3s;
}

.navbar a:hover {
    background-color: yellow;
    color: black;
}

#text{
    padding-left: 250px;
}
#cards{
    display:flex;
    justify-content: space-between;
}
.cardborder{
border:2px solid black;

padding-left: 10px;
flex-basis: 30%;
display: flex;
flex-direction: column;

}

.cardborder img {
    align-self: center;
}
